@use "sass:color";
$fg: #ddddddff;
$bg: #000000ff;
$font: DejaVuSansMono; 

window.bar {
    background: transparent;
    color: $fg;

    .time {
        margin: -0.15em 0em 0em -0.8em; // top, right, bottom ?, left ?
    }


    .workspaces {
        padding: 0em 0.6em 0em 0.6em;
        .workspace {
            background: transparent;
            padding: 0em 0.3em 0em 0.3em;
            .focused {
                margin: 0.1em;
                padding: 0.25em 0em 0.25em 0em;
                border-radius: 1em;
                background: color.adjust($bg, $lightness: +40%);
            }
            .unfocused {
                margin: 0.2em;
                padding: 0.2em 0em 0.2em 0em;
                border-radius: 1em;
                background: color.adjust($bg, $lightness: +20%);
            }
            &:hover {
                .unfocused {
                    margin: 0.1em;
                    transition: 50ms;
                    padding: 0.25em 0em 0.25em 0em;
                    border-radius: 1em;
                    background: color.adjust($bg, $lightness: +20%);
                }
            }
        }
    }
}

window.background {
    background: transparent;
    color: $fg;
    font-size: 1.8em;
    font-family: $font;
    .state {
        separator.horizontal {
            background: color.adjust($fg, $lightness: -40%);
            min-height: 0.1em;
            border-radius: 0.1em;
            margin: 0.05em -.2em 0.1em -.2em;
        }
        .state_title {
            margin-top: 2em;
            font-weight: bold;
        }
        .state_cell {
            margin: 0.3em 0em 0.3em 0em;
            .left {
                min-width: 10em;
            }
            .right {
                // min-width: 10em;
            }
        }
    }
}

